html, body {
  margin: auto auto;
  padding: 0;
  margin: 0;
  text-align: center;
}

body { background-color: #091479; }

#game {
  height: 560px;
  width: 560px;
  margin: 0 auto;
  text-align: center;
  margin-top: 10.5vh;
}

.cell {
  height: 165px;
  width: 165px;
  position: relative;
  display: inline-block;
  border-radius: 10px;
  margin: 5px 5px;
  background-color: #1425CB;
  box-shadow: 10px 10px #040B4D;
}

.X { background-color: rgb(237, 237, 9); }
.O { background-color: rgb(204, 119, 34); }
.tie { background-color: rgb(20, 37, 203); }
.not-played:hover { background-color: #5B67D4; }


